*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu NSW ACT Foundation", cursive;
}

body {
  background: #010405;
}

/* Halloween Images */
.halloween {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.halloween::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #010405, transparent);
  z-index: 100000;
}

.haloween-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

.halloween-bats,
.halloween-castle,
.halloween-witch,
.halloween-wolf {
  position: absolute;
}

.halloween-castle {
  bottom: -50px;
  left: -50px;
}

.halloween-bats {
  width: 1200px;
  height: 800px;
  right: 120px;
  top: -100px;
}

.halloween-witch {
  width: 1000px;
  height: 700px;
  top: 100px;
}

/* Halloween Content */
.halloween-showcase {
  position: relative;
  padding: 100px;
  text-align: center;
}

.halloween-heading {
  font-size: 62px;
  color: #ff9445;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.halloween-text {
  font-size: 24px;
  line-height: 36px;
  color: floralwhite;
}
